.img-thumbnail-custom {
  padding: 0.5rem;
  background-color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.image-blur-custom {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.image-bottom-custom-user-profile {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 96%;
}


.tc-sheet-left {
  &-jetzt-button {
    text-align: center;
    background-color: #343a40;
    border-radius: 3px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Noto Sans SC";
    font-weight: 500;
    width: 45%;
  }
}

.image-custom-border {
  border: 6px solid #CCC;
}

.jetzt-button {
  color: #ff3366;
  font-size: 0.65rem !important;
}

.jetzt-button:hover {
  color: #ff3366;
  border-bottom: 1px solid #ff3366;
}

@media (max-width: 576px) {
  .mobile-screen {
    width: 160px !important;
    z-index: 999;
    // margin-top: 125px;
  }

  .mobile-screen-img {
    height: 160px !important;
  }

  .card-top {
    margin-top: 20px !important;
  }

  .button-text {
    font-size: 8px !important;
  }

  .mobile-top {
    margin-top: -51px !important;
    position: relative !important;
    left: -7% !important;
  }

  .mobile-screen-justify {
    justify-content: center;
  }

  .float-mobile {
    float: none !important;
    text-align: center;
  }

  .bg-light {
    // margin-top: 60px;
  }

  .mobile-screen-image-none {
    background: none !important;
    height: 270px !important;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .image-bottom-custom-user-profile {
    position: absolute;
    bottom: -1%;
    right: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 96%;
  }
}

@media (max-width: 1199px) and (min-width: 576px) {
  .button-text {
    font-size: 12px !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .image-bottom-custom-user-profile {
    position: absolute;
    bottom: 0%;
    right: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 96%;
  }
  .mobile-screen-img {
    height: 186px !important;
  }

  .mobile-screen {
    width: 160px !important;
    z-index: 999;
    margin-top: 99px;
  }
  .mobile-top {
    margin-left: 2.5rem !important;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .image-bottom-custom-user-profile {
    position: absolute;
    bottom: 0%;
    right: 5px;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 96%;
  }
  .mobile-screen-img {
    height: 185px !important;
  }

  .mobile-screen {
    width: 160px !important;
    z-index: 999;
    margin-top: 108px;
  }
}

@media (max-width: 575px) and (min-width: 478px) {
  .image-bottom-custom-user-profile {
    position: absolute;
    bottom: 2%;
    right: 5px;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 96%;
  }
  .mobile-screen-img {
    height: 160px !important;
  }

  .mobile-screen {
    width: 160px !important;
    z-index: 999;
    // margin-top: 140px;
    margin-bottom: 7px;
  }
}

@media (max-width: 768px) {
  .button-text {
    font-size: 10px !important;
  }
  .image-bottom-custom-user-profile {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .float-mobile {
    float: right;
  }
  .galleryImage {
    border: 2px solid #cccccc !important;
    padding: 0px;
    min-height: 100%;
  }
}

@media (max-width: 477px) {
  .mobile-top {
    margin-top: -44px !important;
    position: relative;
    left: 39%;
  }
}

@media (max-width: 350px) and (min-width: 320px) {
  .button-text {
    font-size: 8px !important;
  }
}

.vip-button {
  border: 1.5px solid #ff3366;
  border-radius: 3px;
  padding: 5px 20px;
  color: white;
  margin-bottom: 10px;
}
