<div class="row align-items-center mt-4" [ngClass]="{'border': messageUtilService.getSelectedFriend() != null && messageUtilService.getSelectedFriend()._id === friend._id}" (click)="messageUtilService.selectReciever(friend)"
     *ngFor="let friend of friendsRedTab">
    <div class="col-12 col-lg-7 pl-5" [ngClass]="{'err-premium-filter': !isPremium}">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 text-center text-lg-right p-0 pr-2">
                <img *ngIf="friend?.profileImage && friend?.profileImage.acceptState === approved
            && ( !messageUtilService.isCurrentUserBlockList(friend) && isSharedProfileImageWithCurrentUser(friend) )"
                     [src]="backendURL + (friend?.profileImage?._id | getImageById: false | async)"
                     class="cursor-pointer rounded new-design-theme-left-box-user-list-avatar-photo"/>

                <img *ngIf="friend?.profileImage
            && friend?.profileImage.acceptState === approved
            && !( !messageUtilService.isCurrentUserBlockList(friend) && isSharedProfileImageWithCurrentUser(friend) )"
                     [src]="backendURL + (friend?.profileImage?._id | getImageById: true | async)"
                     class="cursor-pointer rounded new-design-theme-left-box-user-list-avatar-photo"/>

                <img
                        *ngIf=" ( friend && (!friend?.profileImage || friend?.profileImage.acceptState !== approved)) && (messageUtilService.isCurrentUserBlockList(friend) || !isSharedProfileImageWithCurrentUser(friend))"
                        class="cursor-pointer rounded new-design-theme-left-box-user-list-avatar-photo"
                        [src]="backendURL + udcFolder + friend?.gender?.name +'/' + friend?.randomNumber + '.jpg'"/>

                <img
                        *ngIf="( friend && (!friend?.profileImage || friend?.profileImage.acceptState !== approved)) &&(!messageUtilService.isCurrentUserBlockList(friend) && isSharedProfileImageWithCurrentUser(friend))"
                        class="cursor-pointer rounded new-design-theme-left-box-user-list-avatar-photo"
                        [src]="backendURL + udcFolder + friend?.gender?.name +'/' + friend?.randomNumber + '.jpg'"/>
            </div>


            <div class="col-8 col-md-8 col-lg-6 p-0">
                <h6 class="text-break fs-13 m-0 font-weight-bold text-lg-left cursor-pointer">{{ friend?.profileName }}</h6>
                <span
                        class="fs-10 d-block d-lg-inline mt-1 mt-lg-0 text-center text-lg-left">PLZ:
                    {{ friend?.postCode}}
                    Alter: {{friend?.birthday}}</span>
            </div>

            <div class="col-12 col-lg-5"
                 *ngIf="messageUtilService.isExistUnReadMessage(friend, allUnreadMessages, loggedUser)">
                                <span
                                        class="cursor-pointer fs-12 color-aqua d-flex align-items-center mt-1 mt-lg-0 font-weight-bold justify-content-center"><i
                                        class="fs-20 far fa-envelope color-aqua p-1 mr-2"></i>2
                                    neu</span>
            </div>
        </div>
    </div>
</div>


