@media (max-width: 576px) {
  .statistics-modal-title {
    font-size: 18px !important;
  }
  .statistics-modal-number {
    font-size: 30px !important;
  }
}

@media (max-width: 400px) {
  .statistics-modal-title {
    font-size: 18px !important;
  }
  .statistics-modal-number {
    font-size: 18px !important;
  }
}
