<div class="card mb-3 profile-shadow">
  <div class="card-header text-center bg-white">
    STATUS
    <i
            (click)="statusEditable()"
            *ngIf="!statusEdit"
            class="fa fa-pencil-alt default-icon-color ml-2 cursor-pointer"
    ></i>
    <i
            (click)="statusEditSave(status)"
            *ngIf="statusEdit"
            class="fa fa-check default-icon-color cursor-pointer"
    ></i>
    <i
            (click)="statusEditCancel()"
            *ngIf="statusEdit"
            class="fa fa-times default-icon-color ml-1 cursor-pointer"
    ></i>
  </div>
  <div class="card-body text-center">
    <p *ngIf="!statusEdit && !readMore" style="text-align: left;">{{ status | truncate : 340 : " " }}</p>
    <p *ngIf="!statusEdit && readMore" style="text-align: left;">{{ status}}</p>

    <button (click)="clickReadMore(!readMore)" *ngIf="!readMore && !statusEdit && (status && status.length > 340)" class="btn tc-sheet-left-jetzt-button">
      Mehr anzeigen
    </button>

    <button (click)="clickReadMore(false)" *ngIf="readMore && !statusEdit" class="btn tc-sheet-left-jetzt-button">
      Weniger Anzeigen
    </button>

    <textarea
            (blur)="statusEditSave(status)"
            *ngIf="statusEdit"
            [(ngModel)]="status"
            [maxLength]="1500"
            cols="35"
            class="dating-custom-textarea-border-radius"
            style="width: 100%"
            rows="10">
        </textarea>
  </div>
</div>
