.tc-sheet-left {
  &-jetzt-button {
    text-align: center;
    background-color: #343a40;
    border-radius: 3px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Noto Sans SC";
    font-weight: 500;
    width: 45%;
  }
}
