<div class="border-bottom pb-3">
    <img class="w-25 d-block m-auto" src="assets/img/success.png">
</div>
<div class="mt-3">
    <h5 class="text-light">Bitte verifiziere Deine E-Mail Adresse</h5>
    <p class="text-light" style="font-size:14px;">Bitte klicke auf den Link in der E-Mail, um Deine Email-Adresse zu bestätigen. Erst danach erhältst Du Zugang zu Deinem Profil.</p>
    <p class="text-light" style="font-size:14px;">Bitte überprüfe auch Deinen Spamordner!</p>
</div>
<div class="text-center">
    <button class="btn btn-primary custom-button">ERNEUT SENDEN</button>
</div>
<div>
    <p class="text-light" style="font-size: 14px;">Du hast keine E-Mail erhalten? <br>
        Falls Du weiterhin keine E-Mail erhältst, wende Dich bitte über das Kontaktformular an unseren Support.
    </p>
</div>
