<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <div class="input-group">
              <input
                      class="form-control"
                      formControlName="email"
                      placeholder="{{ 'E-mail Address' | translate }}"
                      type="text"
              />
            </div>
          </div>
          <div *ngIf="!isAuthenticated" class="form-group">
            <div class="input-group">
              <input
                      class="form-control"
                      formControlName="password"
                      placeholder="{{ 'Password' | translate }}"
                      type="{{ show ? 'text' : 'password' }}"
              />
              <span class="input-group-append">
                            <button
                                    (click)="typeFnc()"
                                    class="btn bg-white button-icon"
                                    type="button"
                            >
                              <i
                                      [ngClass]="
                                  show ? 'fa fa-eye' : 'fa fa-eye-slash'
                                "
                              ></i>
                            </button>
                          </span>
              <span class="input-group-append">
                            <button
                                    class="btn bg-white button-icon"
                                    type="button"
                            >
                              <i class="fa fa-info custom-icon"></i>
                            </button>
                          </span>
            </div>
            <div
                    *ngIf="!isAuthenticated && loginState === 'error'"
            >
              <small
                      [ngClass]="{
                              'text-black': cardBackgroundColor === 'white',
                              'text-white': cardBackgroundColor === 'black'
                            }"
                      class="form-text font-weight-bold"
              >
                {{ "Email or password is incorrect" | translate }}
              </small>
            </div>

            <div
                    *ngIf="!isAuthenticated && loginState === 'userLocked'"
            >
              <small
                      [ngClass]="{
                              'text-black': cardBackgroundColor === 'white',
                              'text-white': cardBackgroundColor === 'black'
                            }"
                      class="form-text font-weight-bold"
              >
                {{ "User is locked" | translate }}
              </small>
            </div>

            <div
                    *ngIf="!isAuthenticated && loginState === 'userNotActivated'"
            >
              <small
                      [ngClass]="{
                              'text-black': cardBackgroundColor === 'white',
                              'text-white': cardBackgroundColor === 'black'
                            }"
                      class="form-text font-weight-bold"
              >
                {{ "User not activated" | translate }}
              </small>
            </div>
          </div>
          <div *ngIf="isAuthenticated" class="form-group">
            <div class="input-group">
              <h6 class="m-auto" style="color: white">
                {{ getUserProfileName() }}
              </h6>
            </div>
          </div>

          <div class="row">
            <div class="col text-right">
              <button
                      (click)="login()"
                      class="btn btn-primary custom-button btn-sm"
              >
                {{ "LOG IN" | translate }}
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

