.tc-sheet-detail-modal-header {
  padding: 15px 15px 15px 15px !important;
  border-bottom: 1px solid #dee2e6;

  &-icon-list {
    i {
      font-size: 16px;
    }
  }

  &-close {
    i {
      font-size: 16px;
    }
  }
}